* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.Container {
    max-width: 1500px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

header {
    background-color: rgb(0, 98, 255);
    color: white;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    margin: .5rem;
    display: inline-block;
}

header h2 button {
    border-radius: 2rem;
    border: 0;
    padding: .5rem;
}

.Mainstart {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(img/jumbo.png);
    padding: 10rem;
    background-size: cover;
    color: white;
}

main section div button {
    padding: .5rem;
    border-radius: 1rem;
    border: 0;
}

.Paddingbutton {
    padding: .5rem;
}

div.Paddingbutton button:nth-child(2) {
    color: white;
    background-color: black;
}

.Item1 {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 5rem;
}

div.Colonna1 {
    padding: 3rem;
}

div.Colonna2 {
    display: flex;
    flex-direction: column;
}

p.Sottotema {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.Item2 {
    background-color: rgb(187, 187, 187);
    display: flex;
    justify-content: space-around;
    padding: 5rem;
}

.Colonna3 {
    display: flex;
}

.Colonna4 {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
}

.Item3 {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 8rem;
}

.Item4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    background-color: rgb(187, 187, 187);
}

.Item4 button {
    background-color: rgba(0, 115, 255, 0.73);
}

.Question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.Question button {
    margin-top: 2rem;
}

footer {
    color: white;
    background-color: rgba(0, 0, 0, 0.911);
}

footer p {
    display: flex;
    flex-direction: column-reverse;
}

footer p strong {
    color: rgba(0, 128, 255, 0.831);
}

footer p img {
    width: 2rem;
    height: 1rem;
}

.navclass {
    display: flex;
    justify-content: space-around;
    padding: 3rem;
}

.navclass nav ul li {
    margin: 1rem;
}

.navclass nav ul li strong {
    color: rgba(0, 128, 255, 0.831);
} 

.divfooter {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}

.divfooter button {
    padding: 0.5rem;
    border-radius: 2rem;
    border: 0;
    color: white;
    background-color: rgba(0, 115, 255, 0.73);
}